<div class="about row">
    <div class="col-md-12">
       <h2>About me </h2>
        <br/>
        <p>2009年，因为数学建模接触编程。</p>
        <p>2010年，初经过培训走入程序员行业。</p>
        <p>2010年-2013年，在西安工作过三年，主要集中在通讯领域。</p>
        <p>2013年，清明节开始北漂，北京六年主要在第三方支付和互联网金融公司从业。</p>
        <p>2014年，从零参与组建一个互联网金融公司，2015年成为互联网金融公司技术负责人。</p>
        <p>2016年，开始写博客；2017年，开通微信公众号；2018年，第三方支付公司研发副总。</p>
        <p>2019年，选择成为一名自由职业者，开始探索更多可能性。</p>
        <p>最喜欢读的一本书是《平凡的世界》，平凡的人生，不平凡的精神。</p>
        <p>希望有一天可以赚很多的钱，去干够风骚有意义的事情。</p>
        <p>我是纯洁的微笑，一个仍然在路上，向往自由和梦想的人！</p>

        <!-- Comments -->
       <div class="comment">
         {% include comments.html %}
       </div> 

    </div>
</div>